package ${outputPackage};

import com.sforce.soap.partner.sobject.SObject;
import java.util.ArrayList;
import java.util.Collections;
import java.util.List;

public class CustomSettings extends Fields {
    private CustomSettingsVisibility visibility;
    private Field<String> setupOwnerId;

    public void init(Objects objects, String sfName, CustomSettingsVisibility visibility) {
        super.init(objects, sfName);
        this.visibility = visibility;
        this.setupOwnerId = new Field<String>(this, "setupOwnerId", "SetupOwnerId", FieldType.STRING, null, false);
        addField(setupOwnerId);
    }

    public Field<String> setupOwnerId() {
        return setupOwnerId;
    }

    public CustomSettingsVisibility visibility() {
        return visibility;
    }
}
