package ${outputPackagePkgName};

import com.sforce.contrib.partner.*;
import org.joda.time.DateTime;
import org.joda.time.LocalDate;
import ${outputPackage};

public class $objectName extends CustomSettings {

#foreach($fieldName in $fieldNames)
    private Field<${typeClassMap.get(${fieldName})}> $fieldName;
#end

    public void init(${outputPackageSimpleName} objects) {
        super.init(objects, "$objectApiName", CustomSettingsVisibility.$visibility);
#foreach($fieldName in $fieldNames)
        this.$fieldName = new Field<${typeClassMap.get(${fieldName})}>(this, "$fieldName", "$oldNamesMap.get($fieldName)", FieldType.${typeEnumMap.get(${fieldName})}, ${lengthMap.get($fieldName)}, ${precisionMap.get($fieldName)}, ${scaleMap.get($fieldName)}, true, $removeOnSaveMap.get($fieldName));
        addField($fieldName);
#end
    }

#foreach($fieldName in $fieldNames)
    public Field<${typeClassMap.get(${fieldName})}> $fieldName() {
        return $fieldName;
    }
#end
}
