package $outputPackage;

import java.util.Calendar;

public class $objectName extends CustomSettings {

#foreach($fieldName in $fieldNames)
    private final Field<${typeClassMap.get(${fieldName})}> $fieldName;
#end

    public ${objectName}(Objects objects) {
        super(objects, "$objectApiName", CustomSettingsVisibility.$visibility);
#foreach($fieldName in $fieldNames)
        this.$fieldName = new Field<${typeClassMap.get(${fieldName})}>(this, "$fieldName", "$oldNamesMap.get($fieldName)", FieldType.${typeEnumMap.get(${fieldName})}, #if ($lengthMap.containsKey($fieldName)) $lengthMap.get($fieldName) #else null #end, true);
        addField($fieldName);
#end
    }

#foreach($fieldName in $fieldNames)
    public Field<${typeClassMap.get(${fieldName})}> $fieldName() {
        return $fieldName;
    }
#end
}
