package ${outputPackage};

import com.sforce.soap.partner.sobject.SObject;
import java.util.ArrayList;
import java.util.Collections;
import java.util.List;
import java.util.Map;
import java.util.HashMap;
import java.util.Calendar;

public abstract class Fields {
    private Objects objects;
    private String sfName;
    private boolean custom;
    private List<Field> allFields = new ArrayList<Field>();
    private List<Field> selfFields = new ArrayList<Field>();
    private Map<String, Field> byApiName = new HashMap<String, Field>();
    private Map<String, Field> bySfName = new HashMap<String, Field>();
    private Field<String> id;
    private Field<String> name;
    private Field<String> owner;
    private Field<String> createdBy;
    private Field<Calendar> createdDate;
    private Field<String> lastModifiedBy;

    public void init(Objects objects, String sfName) {
        this.objects = objects;
        this.sfName = sfName;
        this.custom = sfName.endsWith("__c");
        this.id = new Field<String>(this, "id", "Id", FieldType.STRING, null, false);
        addField(id, false);
        this.name = new Field<String>(this, "name", "Name", FieldType.STRING, 80, false);
        addField(name, false);
        this.owner = new Field<String>(this, "owner", "Owner", FieldType.STRING, null, false);
        addField(owner, false);
        this.createdBy = new Field<String>(this, "createdBy", "CreatedBy", FieldType.STRING, null, false);
        addField(createdBy, false);
        this.createdDate = new Field<Calendar>(this, "createdBy", "CreatedDate", FieldType.CALENDAR, null, false);
        addField(createdDate, false);
        this.lastModifiedBy = new Field<String>(this, "lastModifiedBy", "LastModifiedBy", FieldType.STRING, null, false);
        addField(lastModifiedBy, false);
    }

    public List<Field> allFields() {
        return Collections.unmodifiableList(allFields);
    }

    public List<Field> selfFields() {
        return Collections.unmodifiableList(selfFields);
    }

    public Field byApiName(String apiName) {
        return byApiName.get(apiName);
    }

    public Field bySfName(String sfName) {
        return bySfName.get(sfName);
    }

    public Objects objects() {
        return this.objects;
    }

    public String withNamespace(String name) {
        return objects.withNamespace(name);
    }

    public boolean custom() {
        return custom;
    }

    public String apiName() {
        return custom ? objects.withNamespace(sfName) : sfName;
    }

    public String self() {
        return apiName();
    }

    public String sfName() {
        return sfName;
    }

    public SObject newSObject() {
        SObject out = new SObject();
        out.setType(apiName());
        return out;
    }

    public Field<String> id() {
        return id;
    }

    public Field<String> name() {
        return name;
    }

    public Field<String> owner() {
        return owner;
    }

    public Field<String> createdBy() {
        return createdBy;
    }

    public Field<Calendar> createdDate() {
        return createdDate;
    }

    public Field<String> lastModifiedBy() {
        return lastModifiedBy;
    }

    public NameFieldType nameFieldType() {
        return NameFieldType.UNKNOWN;
    }

    protected void addField(Field field) {
        addField(field, true);
    }

    private void addField(Field field, boolean selfField) {
        allFields.add(field);
        byApiName.put(field.apiName(), field);
        bySfName.put(field.sfName(), field);

        if (selfField) {
            selfFields.add(field);
        }
    }
}
