package ${outputPackage};

public class FieldReference {

    private final Fields to;
    private final FieldReferenceType type;
    private final DeleteConstrain deleteConstrain;

    public FieldReference(Fields to, FieldReferenceType type, DeleteConstrain deleteConstrain) {
        this.to = to;
        this.type = type;
        this.deleteConstrain = deleteConstrain;
    }

    public Fields to() {
        return this.to;
    }

    public FieldReferenceType type() {
        return this.type;
    }

    public DeleteConstrain deleteConstrain() {
        return this.deleteConstrain;
    }
}
