package ${outputPackage};

import java.util.Collection;
import java.util.Arrays;
import java.util.Map;
import java.util.HashMap;

public class Objects {

    private Map<String, Fields> byApiName = new HashMap<String, Fields>();

#foreach($objectName in $objectNames)
    private final $objectName $objectName;
#end

    public Objects(String namespace) {
#foreach($objectName in $objectNames)
        this.$objectName = new $objectName(namespace);
        this.byApiName.put(this.${objectName}.self(), this.$objectName);
#end
    }

    public String select(Collection<Field> fields) {
        StringBuilder out = new StringBuilder();
        boolean first = true;
        for (Field field : fields) {
            if (first) {
                first = false;
            } else {
                out.append(", ");
            }
            out.append(field.apiName());
        }
        return out.toString();
    }

    public String select(Field... fields) {
        return select(Arrays.asList(fields));
    }

    public Fields byApiName(String apiName) {
        return byApiName.get(apiName);
    }

#foreach($objectName in $objectNames)
    public $objectName $objectName() {
        return $objectName;
    }
#end
}
