package ${outputPackage};

import java.util.Collection;
import java.util.Arrays;
import java.util.Map;
import java.util.HashMap;

public class Objects {

    private final String namespace;
    private Map<String, Fields> byApiName = new HashMap<String, Fields>();

#foreach($objectName in $objectNames)
    private final $objectName $objectName;
#end

    public Objects(String namespace) {
        this.namespace = namespace;
#foreach($objectName in $objectNames)
        this.$objectName = add(new $objectName(this));
#end
    }

    private <T extends Fields> T add(T object) {
        if (object instanceof CustomSettings) {
            if (((CustomSettings) object).visibility() == CustomSettingsVisibility.PROTECTED) {
                return object;
            }
        }
        this.byApiName.put(object.apiName(), object);
        return object;
    }

    public String select(Collection<Field> fields) {
        StringBuilder out = new StringBuilder();
        boolean first = true;
        for (Field field : fields) {
            if (first) {
                first = false;
            } else {
                out.append(", ");
            }
            out.append(field.apiName());
        }
        return out.toString();
    }

    public String select(Field... fields) {
        return select(Arrays.asList(fields));
    }

    public String namespace() {
        return namespace;
    }

    public String namespacePrefix() {
        return (namespace == null || namespace.trim().isEmpty()) ? "" : namespace + "__" ;
    }

    public String withNamespace(String name) {
        return namespacePrefix() + name;
    }


    public Collection<String> allApiNames() {
        return byApiName.keySet();
    }

    public Collection<Fields> allFields() {
        return byApiName.values();
    }

    public Fields byApiName(String apiName) {
        return byApiName.get(apiName);
    }

#foreach($objectName in $objectNames)
    public $objectName $objectName() {
        return $objectName;
    }
#end
}
