package ${outputPackage};

import com.sforce.soap.partner.sobject.SObject;
import java.util.ArrayList;
import java.util.Calendar;
import java.util.Collections;
import java.util.List;

public class RecordType extends Fields {
    private final Field<String> businessProcessId;
    private final Field<String> description;
    private final Field<String> developerName;
    private final Field<Boolean> isActive;
    private final Field<String> namespacePrefix;
    private final Field<String> sObjectType;
    private final Field<Calendar> systemModstamp;

    public RecordType(Objects objects) {
        super(objects, "RecordType");
        this.businessProcessId = new Field<String>(this, "businessProcessId", "BusinessProcessId", FieldType.STRING, null, false);
        addField(businessProcessId);
        this.description = new Field<String>(this, "description", "Description", FieldType.STRING, null, false);
        addField(description);
        this.developerName = new Field<String>(this, "developerName", "DeveloperName", FieldType.STRING, null, false);
        addField(developerName);
        this.isActive = new Field<Boolean>(this, "isActive", "IsActive", FieldType.BOOLEAN, null, false);
        addField(isActive);
        this.namespacePrefix = new Field<String>(this, "namespacePrefix", "NamespacePrefix", FieldType.STRING, null, false);
        addField(namespacePrefix);
        this.sObjectType = new Field<String>(this, "sObjectType", "SobjectType", FieldType.STRING, null, false);
        addField(sObjectType);
        this.systemModstamp = new Field<Calendar>(this, "systemModstamp", "SystemModstamp", FieldType.CALENDAR, null, false);
        addField(systemModstamp);
    }

    public Field<String> businessProcessId() {
        return businessProcessId;
    }

    public Field<String> description() {
        return description;
    }

    public Field<String> developerName() {
        return developerName;
    }

    public Field<Boolean> isActive() {
        return isActive;
    }

    public Field<String> namespacePrefix() {
        return namespacePrefix;
    }

    public Field<String> sObjectType() {
        return sObjectType;
    }

    public Field<Calendar> systemModstamp() {
        return systemModstamp;
    }
}
